{
  "log-driver": "splunk",
  "log-opts": {
    "splunk-token": "f398c17d-de9f-42c7-8f3e-a6685890c9b7",
    "splunk-url": "https://34.238.28.122:8088",
    "splunk-verify-connection": "false",
    "splunk-insecureskipverify": "true"
  }
}
